 # Install tools
apt-utils
nano
git
openssh-server
wget
sudo
python3-pip

# Install WebKit dependencies
libwoff1
libopus0
libwebp6
libwebpdemux2
libenchant1c2a
libgudev-1.0-0
libsecret-1-0
libhyphen0
libgdk-pixbuf2.0-0
libegl1
libnotify4
libxslt1.1
libevent-2.1-7
libgles2
fonts-ipafont-gothic
fonts-liberation
fonts-tlwg-loma-otf
fonts-ubuntu
fonts-wqy-zenhei
gstreamer1.0-plugins-bad 
libdca0 
libde265-0
libdvdnav4
libdvdread7
libevdev2
libfaad2
libfluidsynth2
libgssdp-1.2-0
libgupnp-1.2-0
libgupnp-igd-1.0-4
libilmbase24
libinstpatch-1.0-2
libkate1
libmjpegutils-2.1-0
libmms0
libmodplug1
libmpcdec6
libmpeg2encpp-2.1-0
libmplex2-2.1-0
libnice10
libofa0
libopenexr24
libopengl0
libsbc1
libsoundtouch1
libspandsp2
libsrt1
libsrtp2-1
libusrsctp1
libvo-aacenc0
libvo-amrwbenc0
libwebrtc-audio-processing1
libwildmidi2
libzbar0
timgm6mb-soundfont
ttf-ubuntu-font-family
ttf-unifont
xfonts-cyrillic
xfonts-encodings
xfonts-scalable
xfonts-utils

# Not available for focal libvpx5 
libxcomposite1
libatk1.0-0
libatk-bridge2.0-0
libepoxy0
libgtk-3-0
libharfbuzz-icu0
    
# Install gstreamer and plugins to support video playback in WebKit.
libgstreamer-gl1.0-0
libgstreamer-plugins-bad1.0-0
gstreamer1.0-plugins-good
gstreamer1.0-libav
    
# Install Chromium dependencies
libnss3
libxss1
libasound2
fonts-noto-color-emoji
libxtst6

# Install Firefox dependencies
libdbus-glib-1-2
libxt6
    
# Install ffmpeg to bring in audio and video codecs necessary for playing videos in Firefox.
ffmpeg

# Install XVFB if there's a need to run browsers in headful mode
xvfb
fluxbox
wmctrl
x11vnc
